/* css variables (to be replaced by scss/etc) */
:root {
  --primary-color: #EB0A1E;
  --secondary-color: #000000;
  --white: #ffffff;
  --black: #000000;
  --border-width:2px;
}

/* utility styles */
.bg-primary{
  background-color:var(--primary-color)!important;
}
.bg-secondary{
  background-color:var(--secondary-color)!important;
}
.bg-dark{
  background-color:var(--black)!important;
}
.text-white{
  color:var(--white);
}

/* custom form styling */
.form__signin .form-control {
  border-width:var(--border-width);
}
.form__signin .form-control:focus {
  border-color:var(--primary-color);
}

.btn-primary{
  background-color:var(--primary-color);
  border-color:var(--primary-color);
}
.btn-primary:hover{
  background-color:var(--black);
  border-color:var(--black);
}
.btn-secondary{
  background-color:var(--secondary-color);
  border-color:var(--secondary-color);
}
.btn-secondary:hover{
  background-color:var(--primary-color);
  border-color:var(--primary-color);
}

.custom-checkbox .custom-control-label::before{
  border-width:var(--border-width);
}  
.custom-control-label:before{
  background-color:var(--white);
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before{
  background-color:var(--primary-color);
  border-color:var(--white);
}

/* custom background */
.body__background_image{
  background:url(../img/background-road.jpg) 50% 50% / cover no-repeat;
}
.body__background_overlay::after{
  z-index: -1;
  left:0;
  right:0;
  bottom:0;
  top:0;
  display: block;
  position: absolute;
  pointer-events: none;
  content:" ";
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), linear-gradient(180deg, rgba(0, 0, 0, 0.62) 45.05%, #000 86.55%);
}