/* css variables (to be replaced by scss/etc) */
:root {
  --shadow:0px 0px 10px rgba(0, 0, 0, 0.2);
}

html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
  font-family: 'CircularStd-Book', sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* layout */
.navbar{
  box-shadow:var(--shadow);
}


/* form */
.form__signin {
  width: 100%;
  max-width: 350px;
  padding: 2.5rem;
  margin: auto;
  background:#fff;
  border-radius:10px;
}

.form__signin .checkbox {
  font-weight: 400;
}

.form__signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding:10px;
}

.form__signin .form-control:focus {
  z-index: 2;
  box-shadow:none;
}

.form__signin input[type="email"] {
  margin-bottom: -2px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form__signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.custom-control-label::before,   
.custom-control-label::after {   
width: 1rem;  
height: 1rem;  
}

.form__logo{
  width:4.5rem;
  height:4.5rem;
  line-height: 4.5rem;
}

/* custom background styling */
.body__background_overlay::after{
  z-index: -1;
  left:0;
  right:0;
  bottom:0;
  top:0;
  display: block;
  position: absolute;
  pointer-events: none;
  content:" ";
}