// Custom.scss
// Option A: Include all of Bootstrap

$border-width:                2px !default;
$border-color:                #C4C4C4 !default;

$border-radius:               .25rem !default;
$border-radius-lg:            10px !default;
$border-radius-sm:            .2rem !default;
$card-border-radius:          $border-radius-lg;
$small-font-size:             .85rem !default;

$blue: #0618BB;
$theme-colors: (
  "primary": #0618BB,
  "primary-10": rgba(#0618BB, 0.1),
  "danger": #ff4136,
  "light": #F6F6F6,
  "white": #FFFFFF,
  "medium": $border-color
);


@import "../bootstrap/scss/bootstrap";


html {
  scroll-behavior: smooth;
}

.fw-medium{
	font-weight: 500 !important;
}

.tabular{
	font-variant-numeric: tabular-nums;
}

.line-height-1{
	line-height: 1;
}

.bg-primary-10{
	border-color:map-get($theme-colors, "primary-10");
}

.main, .overflow-auto {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.main::-webkit-scrollbar, .overflow-auto::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.main input, .main label{
	cursor: pointer;
}

.question{
	padding-top:30vh;
	padding-bottom:70vh;
}

.form-check-flex{
	position:relative;
}

.form-check-flex > label{
	width:100%;
	border:2px solid $border-color;
	border-radius: $border-radius-lg;
	background-color: map-get($theme-colors, "white");
	box-shadow: 0 0 10px rgba(map-get($theme-colors, "primary"), 0);
	transition:.2s linear box-shadow;
	cursor: pointer;
}

.wizard	.form-check-flex label:hover{
		box-shadow: 0 0 10px rgba(map-get($theme-colors, "primary"), 0.2);
		position: relative;
		z-index: 9;
}

.form-check-flex input:checked + label{
	color: map-get($theme-colors, "primary");
	border-color: map-get($theme-colors, "primary") !important;
	.wizard &, .card__payment & {
		box-shadow: 0px 0px 10px rgba(map-get($theme-colors, "primary"), 0.5);
	}
}

.form-check-flex.form-control-lg{
	padding:0;
	height:auto;
}
.form-control-lg .form-floating label{
	font-size:1rem;
}

.form-check-flex.form-control-lg > label{
	padding:$spacer;
	padding-left:$spacer*5;
	transition:.2s ease all;
}

.choices, .wizard, .tabs {
	.form-check-flex input[type="radio"],
	.form-check-flex input[type="checkbox"]{
	margin:0;
	left:$spacer*2;
	top:50%;
	transform:translateY(-50%);
	z-index: 11;
	position: absolute;
	}
}

.choices .radio-added input[type="radio"] {
	left:$spacer !important;
}

.choices{
	.form-check-flex > input[type="radio"],
	.form-check-flex > input[type="checkbox"]{
	top:1.5rem;
	transform:none;
	}
}

.form-floating {
	input{
		font-size:1.25rem;
	}
	&.sparkle{
		input{
			text-indent: 1.25rem;
		}
		&:before{
			left:2rem;
			bottom:0.75rem;
		}
	}
}

.form-check-input[disabled] ~ .form-check-label, .form-check-input:disabled ~ .form-check-label{
	opacity: 1;
}

.choices.nested{
	.form-floating > .form-control:focus ~ label, .form-floating > .form-control:not(:placeholder-shown) ~ label, .form-floating > .form-select ~ label{
		opacity: 1;
	}
}

.form-check-flex.form-radio-bottom label{
	padding-left:1rem;
	padding-bottom:3rem;
	border-radius: 0;
}

.tabs .col:first-child .form-check-flex label{
	
}
.tabs .col:nth-child(2){
	margin-left:-$border-width;
	margin-right:-$border-width;
}
.tabs .col:last-child .form-check-flex label{
	
}

.tabs .form-check-flex input:checked + label{
	border-right-width: $border-width !important;
	border-left-width: $border-width !important;
	z-index: 10;
	position: relative;
}

.col:nth-child(2) .form-check-flex.form-radio-bottom label{
	border-right-width:0;
	border-left-width:0;
}

.col:first-child .form-check-flex.form-radio-bottom label{
	border-top-left-radius: $border-radius-lg;
	border-bottom-left-radius: $border-radius-lg;
}

.col:last-child .form-check-flex.form-radio-bottom label{
	border-top-right-radius: $border-radius-lg;
	border-bottom-right-radius: $border-radius-lg;
	border-right-width: $border-width;
}

.form-check-flex.form-radio-bottom input:checked + label{
	border-radius: $border-radius-lg !important;
	border-right-width: $border-width !important;
	border-left-width: $border-width !important;
	transform:scale(1.05);
	transform-origin:50% 50%;
	position: relative;
	z-index: 10;
}

.card__payment .form-check-flex input:checked + label{
	
}

.wizard .form-check-flex.form-radio-bottom input[type="radio"]{
	position: absolute;
	bottom:1rem;
	top:auto;
	left:50%;
}

.col.options{
	.form-control:focus, .form-control.active{
		background:map-get($theme-colors, "primary");
		color:map-get($theme-colors, "white");
		border-color: map-get($theme-colors, "primary");
		box-shadow:none;
		+ label{
			color:map-get($theme-colors, "white");
		}
	}
	.form-control:not(:focus):not(.active)[readonly]{
		background-color:map-get($theme-colors, "white");
	}
}



.choices{
	.form-control{
		border-color: $border-color;
		&:focus{
			border-color: map-get($theme-colors, "primary");
			box-shadow: none;
			z-index: 9;
			position: relative;

			+ label{
				z-index: 10;
			}
		}
	}
}

.choices .inner > .form-check-flex:first-child > label,
.choices .inner > .form-floating:first-child input,
.choices .inner > .content:first-child {
	border-top-right-radius: $border-radius-lg !important;
	border-top-left-radius: $border-radius-lg !important;
}
.choices .inner > .form-check-flex:last-child > label,
.choices .inner > .form-floating:last-child input,
.choices .inner > .content:last-child {
	border-bottom-right-radius: $border-radius-lg !important;
	border-bottom-left-radius: $border-radius-lg !important;
}
.choices .inner > *:not(:first-child) {
	margin-top:-2px;
}
.choices div input:checked + label{
	z-index: 9;
	position: relative;
}

.choices {

	.inner{
		display: none;

		&.active{
			display: block;
		}
	}

	.tip{
		display: none;
		width:calc(100% + 4rem);
		margin-left:-4rem;
	}
	.choices.nested{
		display: none;
		width:calc(100% + 4rem);
		margin-left:-4rem;
	}
	input:checked + label .tip{
		display: block;
	}
	input:checked + label .choices.nested,
	input:checked + label .choices.nested .inner{
		display: block;
	}

	.form-floating>.form-control~label {
    	opacity: .65;
	    transform: scale(.85) translateY(-.5rem) translateX(.15rem);
	}
}

.question .custom-control-label::before, .question .custom-control-label::after{
	top:calc(50% - 8px);
	left:10%;
}

.tooltip .tooltip-inner{
	color:map-get($theme-colors, "primary");
	background-color:rgba(map-get($theme-colors, "primary"), 0.1);
}

.tooltip-arrow::before {
    border-bottom-color: rgba(map-get($theme-colors, "primary"), 0.1) !important;
}


.main {
	position: absolute;
	left:6rem;
	right:22rem;
	top:calc(56px + 2rem);
	bottom:2rem;
	overflow: scroll;
	width:auto;
	scroll-behavior: smooth;
	-ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    &::-webkit-scrollbar { 
	    display: none;  /* Safari and Chrome */
	}
	&.review{
		overflow: hidden;
	}
	&.customize{
		padding-top:4rem;
	}
}

.tabs{
	top:calc(56px + 2rem);
	left:6rem;
	right:22rem;
	.col:first-child label{
		border-top-left-radius: $border-radius-lg !important;
	}
	.col:last-child label{
		border-top-right-radius: $border-radius-lg !important;
	}
}

.scroller{
	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	overflow: scroll;
	scroll-behavior: smooth;
	-ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    &::-webkit-scrollbar { 
	    display: none;  /* Safari and Chrome */
	}
}

aside.sidebar{
	width:18rem;
	position: absolute;
	top:calc(56px + 2rem);
	right:2rem;
	bottom:2rem; 
}

.roadmap{
	position: absolute;
	top:calc(56px + 2rem);
	left:1rem;
	width:4rem;
	bottom:2rem;
}

.roadmap .roadmap__step{
  width:3rem;
  height:3rem;
  line-height: 3rem;
}

.currency__usd:before{
	content:"$";
	opacity: 0.35;
}

h1.currency__usd{
	position: relative;
}

h1.currency__usd:before{
	font-size: 1rem;
	position: absolute;
	transform:translateX(-130%);
	top:5px;
} 

.sparkle:before{
	content:" ";
	width:18px;
	height:18px;
	background-image: url(../img/icon-sparkle.svg);
	background-repeat: no-repeat;
	background-size:100% 100%;
	position: absolute;
	transform:translateX(-120%);
}
.sparkle.active:before{
	background-image: url(../img/icon-sparkle-white.svg);
}

// FORM LIST GROUP

.list-group {
	input{
		border-radius: 0;
	}
	input:focus{
		position: relative;
		z-index: 9;
	}
	input:focus + label{
		z-index: 10;
	}
	> :first-child input{
		border-top-left-radius:$border-radius-lg;
		border-top-right-radius:$border-radius-lg;
	}
	> :last-child input{
		border-bottom-left-radius:$border-radius-lg;
		border-bottom-right-radius:$border-radius-lg;
	}
	> :not(:last-child){
		margin-bottom:-2px;
	}
}

// REVIEW SHEET

.review .numbers .item:last-child{
	font-size:1.75rem
}

.review .action button:before {
	 background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0, #FFFFFF 100%);
	 content:" ";
	 display: block;
	 position: absolute;
	 top:-3rem;
	 left:$spacer * 3;
	 right:$spacer * 3;
	 height: 3rem;
	 pointer-events: none;
}

.review .numbers small{
	opacity:0.5;
}

// MODAL

.modal-backdrop{
	background-color: map-get($theme-colors, "black");

	&.show{ opacity: 0.8; }
}

// UTILITIES

.rounded-end {
    border-top-right-radius: $border-radius-lg !important;
    border-bottom-right-radius: $border-radius-lg !important;
}
.rounded-start {
    border-top-left-radius: $border-radius-lg !important;
    border-bottom-left-radius: $border-radius-lg !important;
}

.shade-bottom:before{
	position: absolute;
	left:0;
	right:0;
	bottom:1.5rem;
	height:3rem;
	content:" ";
	display: block;
	background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
	z-index: 10;
}

.z-index-top{
	z-index: 12;
}

.text-indent-1{
	text-indent: 1rem;
}
.text-indent-2{
	text-indent: 2rem;
}
.text-indent-3{
	text-indent: 3rem;
	&.text-uppercase{margin-left:0.5rem}
}
.text-indent-4{
	text-indent: 4rem;
}

.opacity-0{
	opacity: 0 !important;
}

.modal-body .vh-fit{
	height: calc(100vh - 20rem);
}

@import "../css/signin";
@import "../css/brand-subaru"; 

