<!-- F&I Accessories Card -->
<div class="card mb-4 border-0 bg-light p-2">
  <div class="row g-0">
    <div class="col-md-4">
      <img class="img-fluid rounded-2" src="../img/accessories-example.jpg" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
      	<div class="d-flex justify-content-between">
        <h5 class="card-title fw-bold mb-2">All-Weather Floor Liners</h5>
        <div class="form-check">
		  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
		  <label class="form-check-label" for="flexCheckDefault">
		    Add to Deal
		  </label>
		</div>
		</div>
        <p class="card-text lh-sm mb-0">Engineered to precisely fit your vehicle, all-weather floor liners are made from durable, flexible, weather-resistant material. <a href="#" class="text-black-50" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">See More</a></p>
        <div class="collapse lh-sm" id="collapseExample">
        	<ul>
        		<li>Cras Ultricies Fringilla</li>
        		<li>Nullam Ligula Adipiscing</li>
        		<li>Consectetur Egestas</li>
        		<li>Etiam Malesuada Quam</li>
        	</ul></div>
        <p class="card-text text-end mt-3">
        	<small class="text-muted ps-3">$150</small>
        	<small class="text-muted ps-3">$5/month</small>
        </p>
      </div>
    </div>
  </div>
</div>
<!-- End F&I Accessories Card -->