{% assign counter = 1 %}

<section data-for="{{ question.slug }}" class="inner">

{% for choice in question.choices %} 

	

	{% if choice.type == 'input' %}

	<section class="form-floating">

		<input
			type="text"
			class="form-control fw-bold rounded-0"
			id="{{ question.slug }}"
			placeholder="{{ choice.value }}"
			value="{{ choice.value }}"
			{% if question.selected %} autofocus{% endif %}
		>
		<label
			for="{{ question.slug }}"
			class="text-uppercase">
			{{ choice.placeholder }}
		</label>

	</section>

	{% else %}

	<div class="form-check-flex form-control-lg custom-control custom-radio">

	<input
		class="form-check-input custom-control-input"
		type="radio"
		name="{{ question.slug }}Options"
		id="{{ question.slug }}{{ counter }}"
		value="{{ question.slug }}{{ counter }}"
		{% if choice.selected %} checked="checked"{% endif %}>
	
	<label
		class="form-check-label custom-control-label rounded-0"
		for="{{ question.slug }}{{ counter }}"
		onclick="advance('{{ question.slug }}');">

	{{ choice.value }} {% if choice.badge %}<span class="fs-6 badge rounded-pill text-primary bg-primary-10 fw-medium mx-2">{{ choice.badge }}</span>{% endif %}

	{% if choice.choices %}
	{% include _nested_fields.html %}
	{% endif %}
	
	{% if choice.tooltip %}
		<div class="fs-6 tip text-primary bg-primary-10 fw-medium rounded-3 px-3 py-2 mt-3">{{choice.tooltip}}</div>
	{% endif %}

	</label>

	</div>

	{% endif %}

	

{% assign counter = counter | plus:1 %}
{% endfor %}

{% if question.content %}
<div class="content border p-3 bg-white">{{question.content}}</div>
{% endif %}

</section>