<div class="form-check-flex form-control-lg custom-control custom-radio">

	<input
		class="form-check-input custom-control-input"
		type="radio"
		name="{{ question.slug }}Options{{ choice.nested }}"
		id="{{ question.slug }}{{ counter }}{{ choice.nested }}"
		value="{{ question.slug }}{{ counter }}{{ choice.nested }}"
		{% if choice.selected %} checked="checked"{% endif %}>
	
	<label
		class="form-check-label custom-control-label rounded-0"
		for="{{ question.slug }}{{ counter }}{{ choice.nested }}"
		onclick="advance('{{ question.slug }}');">

	{{ choice.value }} {% if choice.badge %}<span class="fs-6 badge rounded-pill text-primary bg-primary-10 fw-medium mx-2">{{ choice.badge }}</span>{% endif %}

	{% if choice.choices %}
	{% include _nested_fields.html %}
	{% endif %}
	
	{% if choice.tooltip %}
		<div class="fs-6 tip text-primary bg-primary-10 fw-medium rounded-3 px-3 py-2 mt-3">{{choice.tooltip}}</div>
	{% endif %}

	</label>

	</div>