<div class="main bg-light rounded-3 border px-4">

<div class="row h-100">

	<div class="col options py-4 h-100 overflow-auto">

	{% for question in options %}

		{% if question.type == "input-float" %}
			{% include _input_float.html %}
		{% endif %}

	{% endfor %}

	</div>


	<div class="col choices py-4 h-100 overflow-auto">

	{% for question in options %}
	{% if question.choices %}
		
		{% include _choices_radio.html %}

	{% endif %}
	{% endfor %}

	</div>

</div>





</div> <!-- end main container -->