<!-- Modal -->
<div class="modal fade" id="tradeModal" tabindex="-1" aria-labelledby="tradeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered pb-4">
    <div class="modal-content">

       
      <div class="modal-body p-5">

      	 <h3 class="modal-title text-center">Trade Value</h3>
      	 <p class="col-8 mx-auto text-black-50 text-center">Check your vehicle value by looking up your ride.<br/>Powered by <strong class="text-primary">Kelley Blue Blook.</strong></p>

      

        <div class="bg-light vh-fit rounded-3 border px-4">

<div class="row h-100">

  <div class="col options py-4 h-100 overflow-auto">

  {% for question in trade %}

    {% if question.type == "input-float" %}
      {% include _input_float.html %}
    {% endif %}

  {% endfor %}

  </div>


  <div class="col choices py-4 h-100 overflow-auto">

  {% for question in trade %}
  {% if question.choices %}
    
    {% include _choices.html %}

  {% endif %}
  {% endfor %}

  </div>

</div>

</div>


      

      </div>

    </div>
    <button type="button" class="btn-close btn-close-white position-absolute top-100 start-50 translate-middle" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
</div>
<!-- End Modal -->