<div class="modal fade" id="employeeModal" tabindex="-1" aria-hidden="true" >
  <div class="modal-dialog modal-sm position-absolute bottom-0 start-0 ms-4">
    <div class="modal-content">
      

      <div class="modal-body px-5 py-3">
        <a class="fw-medium h4 d-block my-3" href="#">Utility Link</a>
        <a class="fw-medium h4 d-block my-3" href="#">Another One</a>
        <a class="fw-medium h4 d-block my-3" href="#">Settings</a>
        <a class="fw-medium h4 d-block my-3" href="#">Deal Structure</a>
        <a class="fw-medium h4 d-block my-3" href="#">Dashboard</a>
      </div>

      

    </div>

  </div>
</div>