<!-- navbar component -->
<nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-primary">
<div class="container-fluid">
  <a class="navbar-brand" href="index.htm">
    <img src="../img/logo-subaru.svg" width="150" height="30" class="d-inline-block align-top mr-3" alt="">
    <span class="font-weight-medium ms-2">Walser Subaru</span>
  </a>

  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
    </ul>
    <span class="navbar-text">
      <a href="#" class="text-decoration-none text-white-50">Powered by FUSE</a>
      <a href="#" class="mx-3">Help</a>
    </span>
  </div>
</div>
</nav>