<div class="tabs position-fixed z-index-top">

	<div class="row g-0">

	    <div class="col">
	      <div class="form-check-flex form-control-lg custom-control custom-radio">
	        
	        <input class="form-check-input custom-control-input" type="radio" name="typeOptions" id="type1" value="type1" checked="checked">
	        <label class="form-check-label custom-control-label rounded-0" for="type1">Lease</label>
	      </div>
	    </div>

	    <div class="col">
	      <div class="form-check-flex form-control-lg custom-control custom-radio">
	        
	        <input class="form-check-input custom-control-input" type="radio" name="typeOptions" id="type2" value="type2">
	        <label class="form-check-label custom-control-label rounded-0" for="type2">Finance</label>
	      </div>
	    </div>

	    <div class="col">
	      <div class="form-check-flex form-control-lg custom-control custom-radio">
	        
	        <input class="form-check-input custom-control-input" type="radio" name="typeOptions" id="type3" value="type3">
	        <label class="form-check-label custom-control-label rounded-0" for="type3">Cash</label>
	      </div>
	    </div>

  </div>

</div>