
<div class="question" id="{{ question.slug }}">

    <h2 class="text-primary text-center font-weight-bold mb-5">{{ question.ask }}</h2>

  <div class="row">

    {% assign counter = 1 %}
    {% for choice in question.choices %}

    

    <div class="col">
      <div class="form-check-flex form-control-lg custom-control custom-radio"{% if choice.tooltip %} data-toggle="tooltip" data-placement="bottom" data-html="true" title="{{ choice.tooltip }}"{% endif %}>
        {{ choice.toolip }}
        <input class="form-check-input custom-control-input" type="radio" name="{{ question.slug }}Options" id="{{ question.slug }}{{ counter }}" value="{{ question.slug }}{{ counter }}"{% if choice.selected %} checked="checked"{% endif %}>
        <label class="form-check-label custom-control-label" for="{{ question.slug }}{{ counter }}" onclick="advance('{{ question.slug }}');">{{ choice.value }}</label>
      </div>
    </div>

    {% assign counter = counter | plus:1 %}
    {% endfor %}

  </div>

</div>