<div class="question" id="{{ question.slug }}">

{% if question.image %}
<div class="row align-items-center">
	<div class="col">
		<img class="img-fluid" src="../img/{{ question.image }}" alt="">
	</div>
	<div class="col">
{% endif %}

<div class="mb-4">

<h2 class="text-primary text-center font-weight-bold">{{ question.ask }}</h2>

{% if question.subtitle %}<p class="text-center">{{ question.subtitle }}</p>{% endif %}

</div>

{% for each in question.rows %}
<div class="row g-2 mb-2">


	
	{% for field in each.row %}

	  <div class="col-md">
	    <div class="form-floating">
	      <input type="text" class="form-control rounded-3" id="{{field.slug}}" placeholder="{{field.placeholder}}" value="{{field.placeholder}}">
	      <label for="{{field.slug}}" class="text-uppercase">{{field.label}}</label>
	    </div>
	  </div>

	{% endfor %}
  
</div>
{% endfor %}

<p class="text-center mt-4">
	<a href="#" {% if question.button %}class="btn btn-primary btn-lg w-100"{% endif %} onclick="advance('{{ question.slug }}');">Next Step</a>
</p>

{% if question.footer %}
	<p class="text-center mt-4 text-black-50 small">
		{{question.footer}}
	</p>
{% endif %}

{% if question.image %}
</div>
</div>
{% endif %}

</div>