<!DOCTYPE html>

<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Fuse Main</title>

    <link rel="stylesheet" href="https://use.typekit.net/aku5dye.css">
    <link rel="stylesheet" href="../css/output.css">

    <!-- Custom styles for this template -->
    <link href="css/signin.css" rel="stylesheet">

    <!-- Custom brand styles -->
    <link href="css/brand-subaru.css" rel="stylesheet">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/odometer.js/0.4.7/odometer.min.js" integrity="sha512-v3fZyWIk7kh9yGNQZf1SnSjIxjAKsYbg6UQ+B+QxAZqJQLrN3jMjrdNwcxV6tis6S0s1xyVDZrDz9UoRLfRpWw==" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/odometer.js/0.4.7/themes/odometer-theme-minimal.css" integrity="sha512-82n59AgQXo3NhYHeauDYw9TE2zGh9yOdXN9wbiDZA+uaf0xOkSYxGNLzKMMngZQjBTw94EujhfEfKkYybQqfOQ==" crossorigin="anonymous" />

</head>

<body class="" style="background-color:#fff; display:block;">

{% include _navbar.html %}

{% include _roadmap.html %}

{% include _main_get_started.html %}

{% include _card_vehicle.html %}


<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})

function advance(el) {
  $('#cardID1 .odometer').html(Math.floor(Math.random() * 100) + 249 );
  $('#cardID2 .odometer').html(Math.floor(Math.random() * 100) + 249 );
  var target = document.getElementById(el).nextElementSibling.id;
  javascript:setTimeout(()=>{window.location = '#'+target },500);
}

function select(el) {
  $('#cardID1 .odometer').html(Math.floor(Math.random() * 100) + 249 );
  $('#cardID2 .odometer').html(Math.floor(Math.random() * 100) + 249 );
}



</script>

</body>
</html>