<!DOCTYPE html>

<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Fuse Main</title>

    <link rel="stylesheet" href="https://use.typekit.net/aku5dye.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../css/output.css">

    <!-- Custom styles for this template -->
    <link href="css/signin.css" rel="stylesheet">

    <!-- Custom brand styles -->
    <link href="css/brand-subaru.css" rel="stylesheet">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/odometer.js/0.4.7/odometer.min.js" integrity="sha512-v3fZyWIk7kh9yGNQZf1SnSjIxjAKsYbg6UQ+B+QxAZqJQLrN3jMjrdNwcxV6tis6S0s1xyVDZrDz9UoRLfRpWw==" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/odometer.js/0.4.7/themes/odometer-theme-minimal.css" integrity="sha512-82n59AgQXo3NhYHeauDYw9TE2zGh9yOdXN9wbiDZA+uaf0xOkSYxGNLzKMMngZQjBTw94EujhfEfKkYybQqfOQ==" crossorigin="anonymous" />

</head>

<body class="" style="background-color:#fff; display:block;">

{% include _navbar.html %}

{% include _roadmap.html %}

{% if wizard %}
  {% include _main_get_started.html %}
{% endif %}

{% if options %}
  {% include _main_customize.html %}
{% endif %}

{% if review %}
  {% include _main_review.html %}
{% endif %}

{% include _sidebar.html %}

{% include _modal_employee.html %}

<script>
var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
  return new bootstrap.Tooltip(tooltipTriggerEl)
})

function advance(el) {
  $('#cardID1 .odometer').html(Math.floor(Math.random() * 100) + 249 );
  $('#cardID2 .odometer').html(Math.floor(Math.random() * 100) + 249 );
  $('#cardID3 .odometer').html(Math.floor(Math.random() * 100) + 249 );
  $('#cardID4 .odometer').html(Math.floor(Math.random() * 100) + 249 );
  $('#cardID5 .odometer').html(Math.floor(Math.random() * 100) + 249 );
  var target = document.getElementById(el).nextElementSibling.id;
  javascript:setTimeout(()=>{window.location = '#'+target },500);
}

function choices(el) {
  $('.form-control, .options section').removeClass('active');
  $('#' + el ).addClass('active');
  $('#' + el ).parent().addClass('active');
  $('.choices .inner').removeClass('active');
  $('.choices .inner[data-for=' + el + ']').addClass('active');
}

$("[autofocus]").click();

$( ".radio-added" ).on( "click", function() {
  $(this).find( "input" ).prop("checked", true);
});

$( ".toggle" ).on( "click", function() {
  $(".toggle").addClass("text-muted");
  $(this).removeClass("text-muted");
  return false;
});

function show(el) {
  $(".visually-hidden").removeClass("visually-hidden");
}



</script>

</body>
</html>